.card {
  border: 3px solid black;
  padding: 10px;
  margin: 10px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
  border-radius: 10px;
  width: calc(25% - 40px);

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px #f8b400;
}

.card_img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  border-radius: 10px;
}

.card_title {
  font-size: 1.2em;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  font-family: "Pokemon Solid", sans-serif;
}

@media (max-width: 1024px) {
  .card {
    width: calc(33.333% - 40px);
  }
}

@media (max-width: 768px) {
  .card {
    width: calc(50% - 20px);
  }

  .card_title {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .card {
    width: calc(100% - 20px);
  }

  .card_title {
    font-size: 0.9em;
  }
}
